.main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.store {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.storeObject {
  height: 100vh;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ccc;
}
